[Unit]
Description=Badgeuse
[Service]
ExecStart=/bin/bash /home/michel/Projet-RFID/start_jobs.sh
ExecStop=/bin/bash /home/michel/Projet-RFID/stop_jobs.sh
Restart=on-failure
[Install]
WantedBy=multi-user.target
Alias=badgeuse.service
