Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Security==3.0.0
Flask-SQLAlchemy==2.3.2
Jinja2==2.10
redis==2.10.6
requests==2.12.4
telepot==12.7
Markdown==2.6.11

-e git+https://github.com/duxingkei33/orangepi_PC_gpio_pyH3.git#egg=pyA20
-e git+https://github.com/lthiery/SPI-Py.git#egg=SPI-Py
