[Unit]
Description=Badgeuse application web
[Service]
ExecStart=/usr/bin/python3 /home/michel/Projet-RFID/Web_app.py
Restart=on-failure
User=root
Group=root
[Install]
WantedBy=multi-user.target
Alias=badgeuse.service
