[Unit]
Description=Badgeuse
[Service]
ExecStart=/usr/bin/python3 /home/sqylab/Projet-RFID/Badge.py
Restart=on-failure
User=root
Group=root
[Install]
WantedBy=multi-user.target
Alias=badgeuse.service
