<div class="container">
 <button class="btn btn-info btn-lg btn-block" type="button" data-toggle="collapse" data-target="#televerser" aria-expanded="false" aria-controls="collapseExample">
   Mettre à jour le fichier adhérents
 </button>
  <br>
  <div class="collapse card card-body" id="televerser">
    <form method="post" enctype="multipart/form-data">
      <div class="row">
        <h2>Téléverser un fichier pour mettre à jour le CSV des adhérents:</h2>
        <div class="col col-6">
          <input type="file" name="file">
        </div>
        <div class="col col-6">
          <button type="submit" name="bouton" value="televerser" class="btn btn-primary">
            Téléverser
          </button>
        </div>
        <br>
      </div>
    </form>
  </div>
</div>
