<div class="container">
	{% if contenu %}
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Prenom</th>
				<th scope="col">Nom</th>
				<th scope="col">Numero de badge</th>
				<th scope="col">Bouton</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for ligne in contenu %}
				{% for item in ligne %}
				{% if loop.index is divisibleby(4) %}
				<td>
					{% if active == "visiteur" %}
					<a class="btn btn-primary"  value = "simuler" href="{{item}}" role="button">Simuler badge</a>
					{% else %}
					<a class="btn btn-primary"  name = "bouton" value = "ajouteer" href="{{item}}" role="button">Associer</a>  <a class="btn btn-success"  name = "bouton" value = "entree" href="{{item}}&action=entree" role="button">Voir les entrées</a>
					{% endif %}
				</td>
				{% else %}
				<td>{{ item }}</td>
				{% endif %}
				{% endfor %}
			</tr>
			<tr>
				{% endfor %}
			</tr>
		</tbody>
	</table>
	{% endif %}
</div>
