{% extends "web_base.html" %}
{% block title %}Administration des comptes du SQYLAB{% endblock %}

{% block content %}

<div class="container">
<h1> Espace admin </h1>
<br>
<br>
<a class="btn btn-primary btn-lg btn-block" href="/ajouter" role="button">Ajouter un badge</a>
<br>
<a class="btn btn-danger btn-lg btn-block" href="/supprimer" role="button">Supprimer un badge un badge</a>
<br>
<button type="button" class="btn btn-info btn-lg btn-block">Télécharger le fichier d'entrée</button>
</div>

{% endblock %}

