{% extends "web_base.html" %}

{% block content %}
<div class="container">
	<div class="card card-body">
    <h2>Un bug? Une suggestion?</h2>
	</div>
	<br>
	<form action="" method="post">
	</form>
	<form action="" method="post">
		<h3>Veuillez décrire votre bug:</h3>
		<div class="form-group">
			<div class="row mb-3">
				<div class="col input-group-lg">
					<input class="form-control" type="text" name="prenom" value="" placeholder="Prenom, facultatif">
				</div>
				<div class="col input-group-lg">
					<input class="form-control" type="text" name="nom" value="" placeholder="Nom, facultatif">
				</div>
			</div>
			<div class="input-group-lg mb-3">
				<input class="form-control" type="text" name="text" style="height: 200px; margin-bottom: 2em;" class="form-control" placeholder="Franchement cette application est top!"></input>
			</div>
			<div class="form-group mb-3">
				<button type="submit" name="bouton" value="envoyer" class="btn btn-lg btn-primary">Envoyer</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
