{% extends "web_base.html" %}
{% block title %}Historique des entrées du SQYLAB{% endblock %}
{% block content %}
<!-- historique.html -->
<div class="container">
<h2> Historique des entrées </h2>
</div>
</br>
<div class="container">

<h5> Entrez la date souhaitée</h5>
<form action="" method="post">
  <div class="row ">
    <div class="col col-lg-2">
     <input type="text" name="jour" class="form-control" placeholder="Jour"></input>
    </div>
    <div class="col col-lg-2">
     <input type="text" name="mois"class="form-control" placeholder="Mois"></input>
    </div>
    <div class="col col-lg-2">
      <input type="text" name="annee"class="form-control" placeholder="Année"></input>
    </div>
    <div class="col col-lg-2">
      <button type="submit" name = "bouton" value ="rechercher" class="btn btn-primary">Rechercher</button>
    </div>
    <div class="col col-lg-2">
      <a class="btn btn-primary"  name ="bouton" value = "precedent" href="{{precedent}}" role="button">Hier</a>
    </div>
  </div>
</form>
</br>
</div>


{% if contenu %}
<div class="container">
<div class="row ">
  <div class="col col-lg-4">
    <h2> Entrée du : {{ date }}</h2>
  </div>
  <div class="col col-lg-2">
    <a class="btn btn-primary"  name ="bouton" value = "precedent" href="{{precedent}}" role="button">Jour précedent</a>
  </div>
  <div class="col col-lg-2">
    <a class="btn btn-primary"  name ="bouton" value = "suivant" href="{{suivant}}" role="button">Jour suivant</a>
  </div>
</div>
</br>
</div>
<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Heure</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
      </tr>
    </thead>
    <tbody>
  	<tr>
  	{% for item in contenu %}
      <td>{{ item }}</td>
      {% if loop.index is divisibleby(4) %}
  	</tr>
  	<tr>
  	{% endif %}
  	{% endfor %}
  	</tr>
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
