{% extends "web_base.html" %}
{% block title %}Registre des entrées du SQYLAB{% endblock %}

{% block content %}

<div class="container">
	<h4> ID du dernier badge : {{dernier}} </h4>
<h2> {{texte}}</h2>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Prenom</th>
      <th scope="col">Nom</th>
      <th scope="col">Numero de badge</th>
      <th scope="col">Bouton</th>
    </tr>
  </thead>
  <tbody>
	<tr>
	{% for ligne in contenu %}
	{% for item in ligne %}

    {% if loop.index is divisibleby(4) %}
	<td> <a class="btn btn-primary"  name = "bouton" value = "ajouteer" href="{{item}}" role="button">Associer</a>  <a class="btn btn-success"  name = "bouton" value = "entree" href="{{item}}&action=entree" role="button">Voir les entrées</a></td>

	{% else %}
	<td>{{ item }}</td>
   	 {% endif %}
	{% endfor %}
	</tr>
	<tr>
	{% endfor %}
	</tr>
  </tbody>
</table>
</div>
<div class="container">

<br>

{% include "bits/boutons_admin.html" %}

</div>

{% endblock %}
