{% extends "base.html" %}

{% block navbar %}
<div class="container fixed-top">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <!-- <a class="navbar-brand" href="#">Badgeuse</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if active == 'accueil' %}active{% endif %}">
          <a class="nav-link text-uppercase font-weight-bold" style="font-size: 180%;" href="{{ accueil }}">Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if active == 'historique' %}active{% endif %}">
          <a class="nav-link text-uppercase font-weight-bold" style="font-size: 180%;" href="{{ historique }}">Historique</a>
        </li>
        <li class="nav-item {% if active == 'visiteur' %}active{% endif %}">
          <a class="nav-link text-uppercase font-weight-bold" style="font-size: 180%;" href="{{ visiteur }}">Espace sans badge</a>
        </li>
        <li class="nav-item {% if active == 'admin' %}active{% endif %}">
          <a class="nav-link text-uppercase font-weight-bold" style="font-size: 180%;" href="{{ admin }}">Admin</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold" style="font-size: 180%;" href="{{ logout }}">Se déconnecter</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
</br>
</br>
</br>
</br>
<div class="container" id="stream">
</div>
<script type="text/javascript">
var messages = [];
function is_in_array(item) {
  return !this.includes(item)
}
function concat_stream_div(messages, time) {
  var innerHTML = "";
  var toDelete = [];
  for (var i = 0; i < messages.length; i++) {
    if ((time - messages[i].time) > 60000) {
      toDelete.push(messages[i]);
    } else {
      innerHTML = innerHTML.concat(messages[i].data);
    }
  }
  messages = messages.filter(is_in_array, toDelete);
  var stream = document.getElementById('stream');
  stream.innerHTML = innerHTML;
  console.log("updated stream");
  return messages;
}
if (window.navigator.userAgent.indexOf("Edge") > -1 || window.navigator.userAgent.indexOf("MSIE") > -1) {
  var stream = document.getElementById('stream');
  stream.interHTML = "Cette application ne marche ni avec Internet Explorer ni avec Edge.";
} else {
  function sse(event) {
    var source = new EventSource('{{ url_for('stream') }}');
    source.onmessage = function(event) {
      var time = new Date();
      toDelete = [];
      messages.push({"data": String(event.data), "time": time})
      console.log("received message");
      if (messages.length < 5) {
        messages = concat_stream_div(messages, time);
      } else {
        messages.shift();
        messages = concat_stream_div(messages, time);
      }
    };
  }
  sse();
}
</script>
{% endblock %}
