<p>
 <button class="btn btn-info btn-lg btn-block" type="button" data-toggle="collapse" data-target="#look" aria-expanded="false" aria-controls="collapseExample">
    Simuler un badge
  </button>
</p>
<div class="collapse" id="look">
<div class="card card-body">
<form action="" method="post">
  <div class="container">
  <h2> Entrez nom ou prénom pour rechercher un adhérent </h2>
  <div class="row ">
    <div class="col col-lg-6">
     <input type="text" name="nom" class="form-control" placeholder="Nom ou Prénom">
    </div>
    <div class="col col-lg-3">
     <button type="submit" name = "bouton" value = "rechercher" class="btn btn-primary">Envoyer</button>
    </div>
    <br>
</div>
</div>
</form>
</div>
</div>

<p>
 <button class="btn btn-success btn-lg btn-block" type="button" data-toggle="collapse" data-target="#visiteur" aria-expanded="false" aria-controls="collapseExample">
    Ajouter un visiteur
  </button>
</p>
<div class="collapse" id="visiteur">
<div class="card card-body">
<form action="" method="post">
  <div class="container">
  <h2> Entrez nom et prénom du visiteur </h2>
      <div class="row">
    <div class="col">
      <input type="text" name="prenom" class="form-control" placeholder="Prénom">
      <small id="emailHelp" class="form-text text-muted">Exemple : Michel</small>
    </div>
    <div class="col">
      <input type="text" name="nom"class="form-control" placeholder="Nom en MAJUSCULE">
      <small id="emailHelp" class="form-text text-muted">Exemple : FAUVET</small>
    </div>
    <button type="submit" name = "bouton" value = "visiteur" class="btn btn-primary">Envoyer</button>
</div>
</div>
</div>
</form>
</div>
</div>
