<p>
 <button class="btn btn-info btn-lg btn-block" type="button" data-toggle="collapse" data-target="#look" aria-expanded="false" aria-controls="collapseExample">
   Associer un badge à un adhérent
  </button>
</p>
<div class="collapse" id="look">
<div class="card card-body">
<form action="" method="post">
  <div class="container">
  <h2> Entrez nom ou prénom pour rechercher un adhérent </h2>
  <div class="row ">
    <div class="col col-lg-6">
     <input type="text" name="nom" class="form-control" placeholder="Nom ou Prénom">
    </div>
    <div class="col col-lg-3">
     <button type="submit" name = "bouton" value = "rechercher" class="btn btn-primary">Envoyer</button>
    </div>
    <br>
</div>
</div>
</form>
</div>
</div>

<p>
 <button class="btn btn-danger btn-lg btn-block" type="button" data-toggle="collapse" data-target="#suppr" aria-expanded="false" aria-controls="collapseExample">
    Supprimer un badge
  </button>
</p>
<div class="collapse" id="suppr">
<div class="card card-body">
<form action="" method="post">
  <div class="container">
  <h2> Entrez le numéro de badge à supprimer dans la base de donnée </h2>
      <input type="text" name="numero"class="form-control" placeholder="Numéro de badge">
      <br>
    <button type="submit" name = "bouton" value = "supprimer" class="btn btn-primary">Envoyer</button>
  </div>
</form>
</div>
</div>

